<div id="room-list-body">
	<div id="room-list-body-header">
				<form method="GET" action="{% url 'room-lists' %}">
  <div id="filter-options">
    <h5>Filter By:</h5>

    <label>City</label>
    <input type="text" name="city" placeholder="e.g Baneshwor">

    <label>Rent</label>
    <input type="text" name="rent" placeholder="e.g 5000">

    <label>Room</label>
    <input type="text" name="room" placeholder="e.g 1bhk">

    <button type="submit">Search</button>
  </div>
</form>

		

	</div><!--room-list-body-header-->


</div><!--room-list-body-->
