<div id="view-rooms-page">
	<div id="view-rooms-container">


{% include 'rooms/filter_room.html' %}

    
	<div class="row">\
		{% if rooms %}
		{% for room in rooms %}
		<div class="col">
			<div class="card">
				
				<div class="card-body">
					<h6 class="card-title">{{room.room_type}}</h6>
					<p class="card-text">{{room.rent}}</p>
					<p class="card-text">{{room.city}}</p>
					<div id="buttons">
				<button type="submit"><a href="{% url 'Book' room.id %}">Book</a></button>
				<button type="submit">View</button></div><!--buttons-->


					
				</div><!--card-body-->
			</div><!--card-->
			
		</div><!--cols-->
		{% endfor %}
		
	</div><!--row-->
	{% else %}
		<h2> No such rooms</h2>
		{% endif %}
		
</div><!--view-rooms-container-->


	

</div><!--view-rooms-page-->